doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Playball&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../css/franchise.css')
  link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
title
  | Francise
nav#navbar
  #logo
    img(src='../photos/logo.png' alt='logo')
  div
    ul
      li.item
        a(href='/') Home
      li.item
        a(href='/#content') Content
      li.item
        a(href='/#services') Services
      li.item
        a(href='/#contact') Contact us
.container
  .rowR
    .city(data-aos='zoom-out-left')
      img(src='../photos/mumbai.jpeg' alt='Mumbai')
    .details
      p
        b Mumbai
        br
        |  Owner : Priyanshu K Singh
        br
        |  Address : Lorem ipsum dolor sit amet consectetur adipisicing elit.
        br
        |  Contact : 1234567890
  .rowL
    .city(data-aos='zoom-out-right')
      img(src='../photos/kolkata.jpeg' alt='kolkata')
    .details
      p
        b Kolkata
        br
        |  Owner : Priyanshu K Singh
        br
        |  Address : Lorem ipsum dolor sit amet consectetur adipisicing elit.
        br
        |  Contact : 1234567890
  .rowR
    .city(data-aos='zoom-out-left')
      img(src='../photos/NewDelhi.jpeg' alt='New Delhi')
    .details
      p
        b New Delhi
        br
        | Owner : Priyanshu K Singh
        br
        |  Address : Lorem ipsum dolor sit amet consectetur adipisicing elit.
        br
        |  Contact : 1234567890
  .rowL
    .city(data-aos='zoom-out-right' data-aos-offset='300')
      img(src='../photos/nainital.jpeg' alt='nainital')
    .details
      p
        b Kolkata
        br
        |  Owner : Priyanshu K Singh
        br
        |  Address : Lorem ipsum dolor sit amet consectetur adipisicing elit.
        br
        |  Contact : 1234567890
  .rowR
    .city(data-aos='zoom-out-left' data-aos-offset='300')
      img(src='../photos/patna.jpeg' alt='Patna')
    .details
      p
        b Patna
        br
        |  Owner : Priyanshu K Singh
        br
        |  Address : Lorem ipsum dolor sit amet consectetur adipisicing elit.
        br
        |  Contact : 1234567890
  .rowL
    .city(data-aos='zoom-out-right' data-aos-offset='300')
      img(src='../photos/una.jpeg' alt='')
    .details
      p
        b Una H.P.
        br
        |  Owner : Priyanshu K Singh
        br
        |  Address : Lorem ipsum dolor sit amet consectetur adipisicing elit.
        br
        |  Contact : 1234567890
  .rowR
    .city(data-aos='zoom-out-left')
      img(src='../photos/chennai.jpeg' alt='chennai' data-aos-offset='300')
    .details
      p
        b Chennai
        br
        |  Owner : Priyanshu K Singh
        br
        |  Address : Lorem ipsum dolor sit amet consectetur adipisicing elit.
        br
        |  Contact : 1234567890
  .rowL
    .city(data-aos='zoom-out-right' data-aos-offset='300' data-aos-duration='3000')
      img(src='../photos/gwalior.jpeg' alt='Gwalior')
    .details
      p
        b Gwalior
        br
        |  Owner : Priyanshu K Singh
        br
        |  Address : Lorem ipsum dolor sit amet consectetur adipisicing elit.
        br
        |  Contact : 1234567890
script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
script.
  AOS.init();
