<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/node_modules/lightbox2/dist/css/lightbox.min.css">
    <title>Document</title>
</head>
<body>
    <div class = "Gallery">
        Our Gallery
    </div>
    <div class="photos">
        
     <a href="/photos/1.jpg" data-lightbox="JPGym"><img src="/photos/1.jpg" alt="GYM"></a>
    <a href="/photos/2.jpg" data-lightbox="JPGym"><img src="/photos/2.jpg" alt="GYM"></a>
    <a href="/photos/3.jpg"data-lightbox="JPGym"><img src="/photos/3.jpg" alt="GYM"></a>
    <a href="/photos/4.jpg"data-lightbox="JPGym"><img src="/photos/4.jpg" alt="GYM"></a>
    <a href="/photos/5.jpg"data-lightbox="JPGym"><img src="/photos/5.jpg" alt="GYM"></a>
    <a href="/photos/6.jpg" data-lightbox="JPGym"><img src="/photos/6.jpg" alt="GYM"></a>
    <a href="/photos/7.jpg" data-lightbox="JPGym"><img src="/photos/7.jpg" alt="GYM"></a>
    
    </div>
    
    <script src="/javascript/gallery.js"></script>
    <script src="/node_modules/lightbox2/dist/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>

